%section.thanks
  .container
    .row
      .col-xs-12
        %h1.tcenter
          Thank You for Registering!
        .form-actions
          = link_to 'GO BACK!', root_path, class: 'btn btn-default'
