$lato: 'Lato', sans-serif;
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import "bootstrap-sprockets";
@import "bootstrap";

body { background: #fef3f4; }
h1 { font-family: $lato; font-weight: 300; }
h4 { font-family: $lato; }
.navbar-default {
 background-color: #ff9498;
 border-color: rgba(0,0,0,.1);
 height: 60px;
}
.navbar-brand {
  padding: 10px 0;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

.logo-nav {
   width: 100%;
   img {
    margin: 0 auto;
    display: block;
    padding-top: 9px;
  }
}

.logo {
  max-width: 350px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 25%;
}

.top {
  min-height: 600px;
  background-image: image-url("main-1.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom center;
}

.tcenter { text-align: center; }

.form { padding: 50px 0; }
.form-actions { margin: 30px 0 0; text-align: center; }

footer {
  .row {
    background: #000000;
  }
  background: #000000;
  height: 75px;
  p {
    color: #ffffff;
    margin-top: 10px;
    text-align: center;
    a {
      color: #ffffff !important;
      text-decoration: none !important;
      &:hover {
        color: #CBCBCB !important;
      }
    }
  }
}
